<div class="header">
  <%= image_tag 'twitter.png', width: 70, height: 70, alt: "twitter bird"%>
  <h1>Twitter</h1>
</div>
<%= form_tag search_path, method: :get, remote: true, class: "form-inline", :html => {:'data-type' => 'js'} do  %>
    <%= text_field_tag :q, nil, placeholder: "Type something...", class: "search_bar" %>
    <%= submit_tag("Search", class:"search_submit") %>
<% end %>

<div class="tweets"></div>
<div class="load_more"></div>

<% content_for(:javascripts) do %>
  <script>
    <%= render partial: "autocomplete.js.erb" %>
  </script>
<% end %>